<div id="schedule">


  <div class="day-info">

    <h1 id="select-day">
      {{renderScheduler.selectDate.day}}
    </h1>
    <p id="select-week-day" *ngIf="renderScheduler.daysOfTheWeekData[renderScheduler.dayOfTheWeek]">
      {{renderScheduler.daysOfTheWeekData[renderScheduler.dayOfTheWeek]}}
    </p>
  </div>
</div>


<div id="month">




  
  <div id="table-container">
    <div class="date-indicator-container">


          <i class="fa fa-chevron-left" aria-hidden="true" (click)="prevMonth()"></i>
        <b>

          {{renderCalendar.monthsOfYear[renderCalendar.currentMonth]}}/{{renderCalendar.currentYearString}}
        </b>  
          
          <i class="fa fa-chevron-right" aria-hidden="true" (click)="nextMonth()"></i>

    </div>


    <hr align="center" size="1" color=black>
      
    <table id="table-content" *ngIf="hasData">
      <tr id="table-header">
        <th>SUN</th>
        <th>MON</th>
        <th>TUE</th>
        <th>WED</th>
        <th>THU</th>
        <th>FRI</th>
        <th>SAT</th>
      </tr>

      <tr *ngFor="let row of [0,1,2,3,4,5]">
      
        <td *ngFor="let column of [0,1,2,3,4,5,6]" class="day_column">

            <span class="calendar__day this-month"
                  #day 
                  *ngIf="isThisMonth[row][column]"
                  id="{{'day'+daysMatrix[row][column]}}" 
                  (click)="scheduler(row,column, day)">  
              {{ daysMatrix[row][column] }}
              <i class="pointer" id="hasEvent{{ daysMatrix[row][column] }}"></i>
            </span>

            <span class="calendar__day not-this-month" *ngIf="!isThisMonth[row][column]">  
                {{ daysMatrix[row][column] }}
            </span>
        
        </td>
      </tr>

    </table>

  </div>

</div>