/* CALENDAR CSS */

#month{
    position: relative;
    float: right;
    background: #fff;
    width: 370px;
    height: 100%;
}

#table-header{
    margin-bottom: 10px;
}

#table-content{
    width: 100%;
    padding: 0 10px 0 10px;
}
#table-container hr{    
    margin: 0 20px 0 20px;
}
.day_column{
    text-align: center;
    padding: 10px 0 10px 0;
    width: 14%;
}
.day_column span{
    cursor: pointer;
}
.not-this-month{
    color: #ababab;
    cursor: auto !important;
}
.date-indicator-container{
    position: relative;
    display: block;
    text-align: right;
    padding: 20px 20px;
    font-size: 1.1em;
    color: #ababab;
}
.date-indicator-container b{
    margin: 0 5px;
}
.date-indicator-container i{
    cursor: pointer;
}

/* Schedule CSS  */

#schedule{
    position: relative;
    float: left;
    background: #890a78;
    width: 230px;
    height: 100%;
}
#select-week-day{
    color: white;
    text-align: center;
    margin-top: -10px;
    font-weight: bold;
    font-size: 1.6em;
}
.select-day-calender {
    background: #8b3e77;
    border: 4px solid #8b3e77;
    border-radius: 11px;
    color: white;
    margin: 0;
    padding: 0;
}

#select-day {
    text-align: center;
    font-size: 9em;
    margin: 0;
    color: white;
}

.hasEvent {
    border-color: #8b3e77 !important;
}
    
.day-info {
    margin-top:  35px;
    width:  100%;
    position:  relative;
    float:  left;
}
table#table-content tbody tr th {
    padding: 20px 0;
}

i.pointer {
    position:  absolute;
    border: 1.5px solid white;
    margin-left: 2px;
    border-radius: 20px;
    margin-top: -2px;
}
@media screen and (max-width: 600px){
    #schedule,
    #month{ width: 100%; }
    #schedule{ height: 170px; }
    #month{ height: 350px; }
   
}